@model  NationalParksHiking.Models.ParkStateViewModel
@{
    ViewBag.Title = "ParkStateViewModel";
}

<h2>ParkStateViewModel</h2>

@using (Html.BeginForm())
{
    <div class="formgroup">
        @Html.DropDownListFor(model => model.ParkStates,
        Model.GetStateAsSelectedItem(),
        "Select A State",
        new { @class = "form-control" })
    </div>
}